.nav-filter.li{
    text-decoration-line:line-through;
}

.widget-search{
    width: 600px;

}
.product-image{
    height: 280px;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 420px;
    image-rendering: pixelated;
    object-fit:fill;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

.product.product-4{
    padding:100;
  }


.screen_cwrap {width:980px; margin:0 auto; padding-top:40px}
.screen_cwrap .tab_st02 {margin-bottom:17px;}

.screen_cwrap .item_list {margin-bottom:20px;}
.screen_cwrap .tab_content {display:none; padding-bottom:10px;}
.screen_cwrap .tab_content.on {display:block}

.screen_cWrap .ad {width:180px; height:339px;}
.screen_cWrap .ad img {width:180px; height:339px;}


.screen_cwrap .curr_list [class^=day_] {position:absolute; left:0; bottom:0; z-index:11; display:block; width:70px; height:24px; text-align:center; font-size:14px; font-weight:bold; color:#fff; line-height:24px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.screen_cwrap .curr_list .day_deadline {width:100%; height:49px; text-align:left; padding:19px 0 0 20px;}
.screen_cwrap .curr_list .day_opening {background:#117c89;}
.screen_cwrap .curr_list .day_closing {background:#4a4a4a;}

/* tab_st02 */
.tab_st02 {margin-bottom:29px; text-align:center}
.tab_st02:after {content:''; display:block; clear:both}
.tab_st02 li {display:inline-block}
.tab_st02 li span {display:block; width:175px; height:50px; margin-left:1px; background:#efebdb; color:#6f6247; font-size:16px; line-height:50px; text-align:center}
.tab_st02 li span.on {
	background:#231f20 url('../../assets/images/btn_st02_on.gif') no-repeat 0 0; 
	color:#cdc197; 
	font-weight:bold;
	}


  .screen_cwrap .btn_view {display:block; width:100%; height:40px; padding:8px 0; background:#efefef; border:1px solid #dedede; text-align:center; font-size:14px; color:#231f20; font-weight:bold; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box}
  .screen_cwrap .btn_view span {padding-bottom:6px; background:url('../../assets/images/btn_plus02.png') no-repeat 50% 100%}
  .screen_cwrap .btn_view:hover {color:#231f20;}

  .screen_cwrap .btn_view.btn_Btype {background:#efebdb; border:1px solid #dad2b4}
  .screen_cwrap .btn_view.btn_Btype span {background:url('../../assets/images/btn_plus03.png') no-repeat 50% 100%}


   